[Unit]
Description=Flynn OS Nightly Update
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/flynn-update
StandardOutput=journal
