[Unit]
Description=Flynn OS Graphical Session
After=seatd.service systemd-logind.service network.target
Wants=seatd.service

[Service]
Type=simple
User=root
PAMName=login
TTYPath=/dev/tty1
StandardInput=tty
StandardOutput=journal
ExecStart=/usr/local/bin/flynn-session
Restart=on-failure
RestartSec=3
Environment=XDG_RUNTIME_DIR=/run/user/0

[Install]
WantedBy=multi-user.target
